* {
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
}

body {
    font-family: Helvetica, Arial;
    font-size: 18px;
}

h1, h2 {
    color: gold;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 25px;
}

.main-text {
    text-align: left;
}

#authortext {
    font-size: 22px;
}
